* {
	border-radius:3px;
	border: none;
}

window {
	font-size: 30px;
	font-family: "Ubuntu Mono Medium";
	background-color: rgba(50, 50, 50, 0.9);
	color: white;
	border-bottom: 3px solid white;
}

#entry{
	padding: 0.25em;
}

#entry:selected {
	background-color: #fa82c4;
	background: linear-gradient(90deg, #fa82c4, #ff0f93);
}

#text:selected {
	color: #000000;
}

#input{
	background-color: rgba(50, 50, 50, 0.5);
	color: white;
	padding: 0.25em;
}
